<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
    <% if (blog) { %>
    <h2 class="text text-info"><%= blog.title %></h2>
    <div>
      <p><%= blog.content %></p>
    </div>
    <%}%>
  </div>
  <div class="col-2"></div>
</div>
